body {
    font-family: 'Agency FB'
}

label {
    width: 200px;
    display: inline-block
}

ol {
    margin-left: 420px
}

form {
    margin-left: 360px;
    border: 1px solid black;
    align-content: center;
    padding: 10px;
    padding-right: 10px;
    display: inline-block;
    box-sizing: border-box;
}