@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model gradeCalculatorModel;

<form method="post">
    <h3 style="margin-left: 38px">Grade Calculator</h3>
    <label>Assignments: </label>
    <input type="number" min="0" max="50" id="assignments" asp-for="Assignments"/> <br />
    <label>Group Projects: </label>
    <input type="number" min="0" max="10" id="groupProjects" asp-for="GroupProjects"/> <br />
    <label>Quizzes: </label>
    <input type="number" min="0" max="10" id="quizzes" asp-for="Quizzes"/> <br />
    <label>Midterm Exam: </label>
    <input type="number" min="0" max="10" id="midtermExam" asp-for="MidtermExam"/> <br />
    <label>Final Exam: </label>
    <input type="number" min="0" max="10" id="finalExam" asp-for="FinalExam"/> <br />
    <label>INTEX: </label>
    <input type="number" min="0" max="10" id="intex" asp-for="Intex"/> <br />
    <br />
    <button type="submit" value="Calculate" id="btnSend">Submit</button>

    <div asp-validation-summary="All"></div>
</form>

<br />
<br />
<br />


<script src="js/mission4.js"></script>